@import "https://fonts.fontstorage.com/import/worksans.css";
@import "https://fonts.fontstorage.com/import/roboto.css";

*{
    margin: 0;
    padding: 0;
}
body { 
max-width: 1015px;
margin-left: auto;
margin-right: auto;
}

.logo {
    width: 268px;
    height: 33px;
    display: block;
   
}
.ellogo{
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}
.menu ul li {
    list-style: none;
    display: inline;
}
.departements{
    position: relative;
    z-index: 2;
}
.menu ul li ol {
    display:none;
    padding-top:10px;
    position:absolute;
    min-width:220px;
    margin-left:-100px;
    background:#fff;
    box-shadow:0 5px 10px 0 #d3cfc9;
    right: -45px;
    top: 45px;
    z-index:1
}
.departements span:hover  .menu ul li ol{
    display: block;
}
.menu ul li ol li a {
    color:#747474;
    line-height:120%;
    padding:12px 16px;
    text-decoration:none;
    display:block
    
}
.about{
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
    text-decoration: none;
    padding-right: 5px;
    color: #00b39b;
   
}
.career, .departements{
    font-family: Arial,sans-serif;
    font-size: medium;
    font-weight: 400;
    line-height: 2em;
    text-decoration: none;
    padding-right: 5px;
    color: #ababab;
}

.ennavbar{
    display: flex;
    justify-content: space-between;

}
.headerheader{
    position: sticky;
    top: 0;
    background-color: white;
    height: 50px;
    padding-top: 20px;
    z-index: 20;
    border-bottom: 2px solid whitesmoke;
}
.logo2{
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.titre_marketing h1{
    font-family: Work Sans,Arial,sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: #00b39b;
    text-align: center;
    margin-left: 0;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom:30px;
}
.deux_paragraphes p {
    font-size: 16px;
    font-family: roboto,Arial,sans-serif;
    color: #747474;
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    line-height: 30px;
}
.deux_paragraphes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.for_patient {
    background: #00ccb1;
}
.for_doctor {
    background: #3d83df;
}
.for_clinics {
    background: #1b2734;
}
.general_for h1 {
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: .3em 0;
    font-family: Work Sans,Arial,sans-serif;
    letter-spacing: -.3px;
}
.general_for h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    font-family: Work Sans,Arial,sans-serif;
    letter-spacing: -.3px;
}
.for_patient, .for_doctor, .for_clinics{
    border-radius: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
}
.for_patient:hover, .for_doctor:hover, .for_clinics:hover {
    opacity: 90%;
}
.general_for select {
    height: 40px;
    background: transparent;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    border: 0;
    font-size: 1.2em;
    color: white;
    font-family: work sans,arial,sans-serif;
}
.general_for select option{
    font-size: 1rem;
    color: gray;
    font-family: work sans,arial,sans-serif
}
.general_for {
    display: flex;
    flex: 1 1 1;
    flex-direction: row;
    justify-content: space-evenly;
}
#listedechoix {
    margin-bottom: 10px;
}
.three_fors {
    margin-top: 30px;
    margin-bottom: 30px;
}
.we_are h1 {
    display: block;
    float: left;
    width: 28%;
    font-size: 26px;
    margin:6.5px 0 9.5px;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    color: #00b39b;
}
.logo3{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    list-style: none;
    width: 67%;
    margin: 0;
}
.logo3 li img {
    margin: 10px;
    filter: grayscale(100%);
}
.logo3 li img:hover {
    filter: none;
}
.section__healthcare {
    background-image:linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    background: #e5faf8;
    margin-top: 100px;
    margin-bottom: 100px;
   
}
.img_arriere img{
    width: 300px;
    height: 300px;
}
.section__healthcare h1{
    font-size: 33px;
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    margin-left: 50px;
}
.section__healthcare p {
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7;
}
.section__healthcare h3 {
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.8em;
}
.flagdiv {
    background: #fff;
    border-radius: 5px;
    height: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
    display: block;
    width: 40%;
    margin: 10px;
    position: relative;

}
.gauche p{
    margin-left: 50px;
}
.gauche {
    float: left;
}
.droite{
    display: flex;
    flex-wrap: wrap;
}
.haut {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}
.haut h1 {
    font-size: 33px;
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.haut p {
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.photo__bas {
    color:#747474;
    font-size: 18px;
    font-family: Roboto,Arial,sans-serif;
    margin-top: 12px;
    margin-bottom: 40px;
    font-weight: 500;
}
.botna_bas {
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 4px;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    float: right;
}
.photo__image img {
    border-radius: 5px;
}
.photo {
    max-width: 309px;
    height: auto;
}
.photo:hover{
    box-shadow:0 20px 50px 0 rgba(0,0,0,.13);
    
}
.photo__zone {
    text-decoration: none;
}
.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.join-us_haut h1{
    font-size: 2.1428571429em;
    color: #333;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    text-align: center;
}
.join-us{
    margin-top: 5rem;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-left: auto;
}
.botna{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    display: block;
    border-radius: 4px;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    height: 30px;
    text-decoration: none;
}
footer{
    border-top: 1px solid #eef2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 25px;
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    color: #747474;
   
}
footer a{
    text-decoration: none;
    color: #3d83df;

}
.lekherlekher{
    margin-bottom: 10px;
}